<!doctype html>
<html ng-app>
    
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
        <script src="js/controllers.js"></script>
        <link href="css/countio.css" rel="stylesheet">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <link href="css/flip.css" rel="stylesheet">
    </head>
    
    <body ng-controller="TrackCtrl">
        <div class="container-narrow">
            <div class="masthead">
                <ul class="nav nav-pills pull-right">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
                <h3 class="muted">Project name</h3>
                <hr>
                <div class="jumbotron">
                    <h1>{{ active.name }}</h1>
                    <div class="spin">
                        <div class="number-counter" ng-repeat="char in flipCharacters(active.count)">
                            <div class="inner knob knob-left"></div>
                            <div class="inner divider"></div>
                            <div class="inner number">{{char}}</div>
                            <div class="inner knob knob-right"></div>
                        </div>
                        <div id="track-controls" class="btn-group btn-group-vertical">
                            <a class="btn btn-large btn-success" href="#" ng-click="count(1)">+</a>
                            <a class="btn btn-large btn-danger" href="#" ng-click="count(-1)">-</a>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="footer">
                <p>&copy; Company 2012</p>
            </div>
        </div>
        <!-- /container -->
    </body>

</html>